# === Build output ===
target/
lib_managed/
project/target/
project/project/

# === IDE settings ===
.idea/
.settings/
*.iml
.classpath
.project

# === OS specific ===
.DS_Store
Thumbs.db

# === Scala specific ===
*.class
*.log

# Ignore jar files
*.jar